
html{
	scroll-behavior:smooth;
}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	background: #B4C6C7;
	font-family: "Poppins", sans-serif;
	line-height: 1.6;
}

h2 {
	font-family: "Playfair Display", serif;
	font-size: 64px;
	text-align: left;
	line-height: 1.4;
}

/*
================
Navigation bar
================
*/

.navbar{
	background-color: #282B4A; /* 6E9CB0 */
	height: 50px;
	width: 100%;

	position: sticky;
	top: 0px;
	
	display: flex;
	justify-content: center;
	align-items: center;

}

.navbar .nav-elements {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	gap: 50px;

	font-size: 20px;
}

#home {
	position: absolute;
	left: 200px;
}

#resume {
	position: absolute;
	right: 200px;
	
	background-color: #5C6B84;
	color: #FFF1B5;
	border-radius: 8px;
	padding: 4px;
}

#resume:hover {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(10px);
	transform: translateY(-0.5px);
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

/*
================
Navbar Anchor tags
================
*/

.navbar a {
	color: #EEEBDA; /* 3E2723 */
	text-decoration: none;
}

.navbar a:hover {
	color: #F5D0D0; /* 7F1734 */
}	

/*
================
Anchor tags
================
*/
a {
	color: #3E2723;
	text-decoration: none;
}

a:hover {
	color: #7F1734;
}
/*
================
Hero section
================
*/
.hero {
	min-height: 100vh;
	/*border: 2px solid black;*/

	background-color: #FAF0CA;
}

.hero .hero_content {
	height: calc(100vh - 50px);
	width: 100%;
	/*border: 2px solid red;*/

	display: flex;
	justify-content: space-around;
	align-items: center;

	color: #4E0000;
}

.hero img {
	width: 350px;
	height: auto;
}


h1 {
	font-family: "Playfair Display", serif;
	font-size: 72px;
	text-align: left;
	line-height: 1.4;
}

/*
================
Icons
================
*/


/*
================
About
================
*/
#about {
	min-height: 100vh;

	margin: 0px;
	padding: 50px;

	background-color: #F5D0D0;
	color: #7F1734;

}

#about p{
	font-family: "Poppins";
	font-size: 18px;
	line-height: 1.4;
	text-align: left;
}


/*
================
Skills
================
*/
#skills {
	background-color: #F5D0D0;
	color: #7F1734;

	display: flex;
	flex-direction: column;
	
	align-items: center;
}

.skills-content {
	display: flex;
	gap: 100px;
}

.skills-content div {
	background: rgba(255,255,255,0.1); /*background-color: #858461;*/
	border-radius: 20px;

	width: 300px;

	text-align: center;
	font-family: "Ranade";
}

/*
================
Projects
================
*/
#projects {
	min-height: 100vh;
	margin: 0px;
	padding: 50px;

	display: flex;
	flex-direction: column;
	/*border: 2px solid red;*/

	background-color: #F5EFEB;
	color: #567C8D;
}

.project_container {
	gap: 20px;
	display: flex;
	justify-content: center;

	height: 600px;
	
	overflow-x: auto;
	overflow-y: hidden;

	padding: 20px;

}

.project_card{
	display: flex;
	flex-direction: column;
	width: 350px;
	flex-shrink: 0;

	text-align: center;
	padding: 5px;
	line-height: 1.4;
	
	background-color: #C8D9E6;
	font-size: 24px;
	font-family: "Poppins";
	color: #2F4156;

	transition: all 0.3s ease;
}

.project_card img {
	width:100%;
	border-radius: 10px;
}

.project_card:hover{
	transform: translateY(-6px);
	box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}



